root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
wrap_attributes = auto
format_on_save = true
max_line_length = 2400
single_quote = false

[*.php, *.html, *.blade, *.vue, *.css, *.xml]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
wrap_attributes = auto
trim_trailing_whitespace = true
max_line_length = 2400
single_quote = false
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 2