@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dp-font-size: 12px !important;
  --dp-cell-border-radius: 100% !important;
  --dp-cell-padding: 8px !important;
  --dp-cell-size: 34px !important;
  --dp-font-family: "Inter", sans-serif !important;
  --dp-button-height: 34px !important;
  --dp-month-year-row-height: 34px !important;
  --dp-month-year-row-button-size: 34px !important;
  --dp-cell-size: 34px !important;
  --dp-primary-color: #00509c !important;
  --dp-common-padding: 13px !important;
}

* {
  outline: 0px solid transparent !important;
  outline-offset: 0 !important;

  --tw-ring-inset: 0 !important;
  --tw-ring-offset-width: 0 !important;
  --tw-ring-offset-color: transparent !important;
  --tw-ring-color: transparent !important;
  --tw-ring-offset-shadow: 0 !important;
  --tw-ring-shadow: none !important;
}

body {
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable;
  scrollbar-width: 20px;
  /* scrollbar-color: #555 #000; */
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #000;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background: #333;
  background-color: #333;
  border: 8px solid #000;
  border-radius: 13px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  cursor: pointer;
}

[type="checkbox"],
[type="radio"] {
  @apply border border-[#2a2a2a] bg-[#0d0d0d] text-sm text-white placeholder:text-sm focus:border-[#4d4d4d] focus:bg-[#1a1a1a];
}

textarea {
  @apply resize-none rounded-none border border-[#2a2a2a] bg-[#0d0d0d] text-sm text-white placeholder:!text-white/50 focus:border-[#4d4d4d] focus:bg-[#1a1a1a] focus:placeholder:!text-white/70;
}

select,
[type="text"],
[type="date"],
[type="email"],
[type="password"] {
  @apply rounded-none border border-[#2a2a2a] bg-[#0d0d0d] text-sm text-white ah-[43px] placeholder:!text-white/50 focus:border-[#4d4d4d] focus:bg-[#1a1a1a] focus:placeholder:!text-white/70;
}

/* select:open {
  @apply rounded-b-none;
}

option {
  @apply bg-[#191919] text-white/70 checked:bg-black checked:text-white hover:bg-black hover:text-white;
} */

#app {
  @apply h-full;
}

.heading-0 {
  @apply text-3xl font-bold tracking-normal md:text-7xl;
}

.heading-1 {
  @apply text-2xl font-bold md:text-3xl;
}

.heading-2 {
  @apply text-base md:text-2xl;
}

.heading-3 {
  @apply text-sm md:text-base;
}

.text-gradient {
  background-image: linear-gradient(55deg, hsl(211, 100%, 30%), hsl(179, 100%, 40%));
  @apply bg-clip-text font-black text-transparent;
}

.link {
  @apply cursor-pointer border-0 text-xs text-white/70 ring-0 transition hover:border-0 hover:text-white hover:ring-0 focus:border-0 focus:ring-0;
}

.badge {
  @apply flex items-center justify-center rounded-2xl bg-primary px-3 text-xs text-white ah-[24px];
}

.icons {
  @apply as-[20px];
}

.disabled {
  @apply pointer-events-none cursor-not-allowed opacity-25;
}

.Vue-Toastification,
.Vue-Toastification__toast-body {
  @apply flex items-center justify-start !rounded-2xl !py-0 !text-sm;
}

.Vue-Toastification__icon {
  @apply !mr-3 mb-1 !as-[24px];
}

[tooltip] {
  @apply relative z-30;
}

[tooltip]:hover:after {
  @apply opacity-100 transition-opacity duration-100 ease-in-out delay-1000 visible;
}

[tooltip]:after {
  content: attr(tooltip);
  @apply bg-black text-white rounded-xl absolute ah-[24px] flex items-center justify-center bottom-[36px] -right-[25px] aw-[80px] whitespace-nowrap opacity-0 border font-light tracking-widest border-white/80 text-zx z-40 invisible;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}